<html xmlns:th="https://www.thymeleaf.org">

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script th:inline="javascript">

    /*<![CDATA[*/
        function getImageInfo(fileString) {
            console.log(fileString);

            const url = new URL(fileString);

            let fileName = url.pathname.split("/").slice(2, 3).toString();

            $.ajax({
                url:'/files/fileName?fileName=' + fileName,
                type: "GET",
                cache: false,
                success:function(data){
                    let alertString = "생성일시 : " + data.created_at +
                        "\nuploadUser : " + data.upload_user +
                        "\n이미지명 : " + data.image_name +
                        "\n이미지 사이즈 : " + data.image_size;

                    console.log(alertString);
                    alert(alertString);
                }
            })
        }

    /*]]>*/
    </script>

    <body>
        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>

        <div>
            <form method="POST" enctype="multipart/form-data" action="/files/">
                <table>
                    <tr>
                        <td>File to upload:</td>
                        <td><input type="file" name="file"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Upload"/></td>
                    </tr>
                </table>
            </form>
        </div>

        <div>
            <ul>
                <li th:each="file : ${files}">
                    <img th:src="${file}"
                         th:attr="onclick=|getImageInfo('${file}')|"
                         width="300px" height="200px;" />
                </li>
            </ul>
        </div>

    </body>
</html>